:root {
  --blue: #033250;
  --green: #79c879;
  --red: #ea0001;
}

html,
body {
  margin: 0 auto;
  width: 90%;
  font-family: 'Roboto', sans-serif;
}

.custom-button {
  padding: 5px 12px;
  transition: all 0.2s linear;
  margin: 0px 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
}

#blue-button {
  background-color: #ffffff;
  color: var(--blue);
  border-color: var(--blue);
}

#blue-button:hover {
  background-color: var(--blue);
  border-color: var(--blue);
  color: #ffffff;
}

#green-button {
  background-color: #ffffff;
  color: var(--green);
  border-color: var(--green);
}

#green-button:hover {
  background-color: var(--green);
  border-color: var(--green);
  color: #ffffff;
}

#red-button {
  background-color: #ffffff;
  color: var(--red);
  border-color: var(--red);
}

#red-button:hover {
  background-color: var(--red);
  border-color: var(--red);
  color: #ffffff;
}
