:root {
  --blue: #033250;
  --green: #79c879;
  --red: #ea0001;
}

html,
body {
  margin: 0 auto;
  width: 90%;
  font-family: 'Roboto', sans-serif;
}

.custom-button {
  padding: 5px 12px;
  margin: 0px 5px;
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  transition: all 0.2s linear;
}

.custom-button:hover {
  font-weight: bold;
}

.custom-button--blue {
  color: var(--blue);
  border-color: var(--blue);
}

.custom-button--blue:hover {
  color: #ffffff;
  background-color: var(--blue);
  border-color: var(--blue);
}

.custom-button--green {
  color: var(--green);
  border-color: var(--green);
}

.custom-button--green:hover {
  color: #ffffff;
  background-color: var(--green);
  border-color: var(--green);
}

.custom-button--red {
  color: var(--red);
  border-color: var(--red);
}

.custom-button--red:hover {
  color: #ffffff;
  background-color: var(--red);
  border-color: var(--red);
}
